<?xml version="1.0" encoding="utf-8" ?>
<log4net>
    <root>
        <!-- Set the minimum logging level -->
        <level value="DEBUG" />
        <!-- Specify the appender to use -->
        <appender-ref ref="file" />
        <appender-ref ref="console" />
    </root>

    <!-- Define the file appender -->
    <appender name="file" type="log4net.Appender.RollingFileAppender">
        <!-- Specify the file name and location -->
        <file value="logs\logfile.log" />
        <!-- Set the maximum file size before rolling over -->
        <maxSizeRollBackups value="10" />
        <!-- Set the maximum size of the log file in bytes -->
        <maximumFileSize value="10MB" />
        <!-- Specify the layout for the log entries -->
        <layout type="log4net.Layout.PatternLayout">
            <!-- Define the pattern for log entries -->
            <conversionPattern value="%date %level %logger - %message%newline" />
        </layout>
    </appender>

    <!-- Define the console appender -->
    <appender name="console" type="log4net.Appender.ConsoleAppender">
        <!-- Specify the layout for console output -->
        <layout type="log4net.Layout.PatternLayout">
            <!-- Define the pattern for console output -->
            <conversionPattern value="%date %level %logger - %message%newline" />
        </layout>
    </appender>
</log4net>
